.logomarca{


    background-color: #DFDEDE;
text-align: center;
padding: 15px;

}

.imagem-logo{
    width: 50%;

    
}

.principal{ 
  background-color: #DFDEDE;
text-align: center;


}

h1{color: black;}

h1{font-size: 200%;}

p{font-size: 150%;}